<html>
<head>

<meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>
 selvas page
 </title>

     <link rel="stylesheet" href="src/style.css"/>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
body{
  background: url(https://images.unsplash.com/photo-1443188631128-a1b6b1c5c207?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a710cf78854a52e2ced86be55fd5e370&auto=format&fit=crop&w=1489&q=80) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width:100%;
}
    h1{
    font-weight: 5000;

    color: white;

    }
p
    {

         font-size: 20px;
         font-weight: 1000;
         color:navajowhite;
    }
    span
    {
        color: floralwhite;
    }
  button
    {
        font-size: 19px;
        text-decoration: none;
        border-radius: 9px;
        background-color: beige;
    }
    .centered
     {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
    </style>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Student Focus</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/register">Sign up </a></li>
      <li><a href="/login">Login </a></li>
      <li><a href="/status">status </a></li>
       <li><a href="/secret">Take test</a></li>
      <li><a href="/logout">Logout</a></li>

    </ul>
  </div>
</nav>
<div class="centered">
   <h1>SelvaMegestic</h1>
      <p> THIS PAGE IS USED TO GENERATE YOUR<br>
      OWN GOOGLE ACCOUNTS & MANAGE YOUR SECRETS,<br>
      USE A <span>SELVAMEGESTIC </span>PAGE</p>
     <input type="button" value="Get started" onclick="/register" />


</div>
   </body>
</html>
