<html>

<head>
<meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="src/style.css"/>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class=jumbotron>
    <h3 class="center">Signup here</h3>
   <form action="/register" method="POST">
      <lable>Username</lable><br>
      <input id="email" type="text" class="form-control" name="username" placeholder="username">
      <lable>Fathername</lable><br>
      <input  type="text" class="form-control" name="fatherName">
      <lable>Mothername</lable><br>
      <input  type="text" class="form-control" name="motherName">
      <lable>password</lable><br>
      <input id="password" type="password" class="form-control" name="password" placeholder="Password"></div>
      <div>  <input type="submit" class="btn btn-info" value="Submit "></div>
    </form>
   </div>
 </div>
</body>
</html><!DOCTYPE html>
